.Menu{
    position: relative;
    background-color: transparent;
    margin: 0 auto;
    width: 940px;
    padding: 0;
}
.Menu .menuUL{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.Menu .menuUL .menuLI{
    position: relative;
    background-color: transparent;
    margin: 0;
    padding: 0;
    height: 30px;
    float: right;
    margin-right: 8px;
    line-height: 24px;
    margin-top: 3px;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.Menu .menuUL .menuLI span.Boldweight{
    font-weight: bold;
}
.Menu .menuUL .menuLI:hover a.bord{
    background-color: #864A97;
}
.Menu .menuUL .menuLI a.bord{
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    line-height: 24px;
    height: 24px;
    display: inline-block;
    /*border-right: 1px solid #fff;*/
    padding: 0px 5px;
}
.Menu .menuUL .menuLI a.yonetici{
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    line-height: 24px;
    height: 24px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    /*border-right: 1px solid #fff;*/
    padding: 0px 10px;
    background-color: red;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}
.Menu .menuUL .menuLI a.yonetici:hover{
    background-color: #f99;
}
.Menu .menuUL .menuLI a.yonetici.displaynone{
    display: none;
}
/*
.Menu .menuUL .menuLI:hover a.bord{
    border-color: transparent;
}
*/
.Menu .menuUL .menuLI a.bord:hover{
    background-color: #864A97;
        /*
        rgba(134,74,151,0.4);
        rgba(0,0,0,0.3);
        */
}
.Menu .hu_social{
    position: relative;
    background-color: transparent;
    padding: 0;
    margin: 0;
    float: right;
    line-height: 30px;
    width: 50px;
}
.Menu .hu_social:after{
    clear: both;
}
.Menu .hu_social .social{
    background-color: transparent;
    width: 24px;
    height: 24px;
    line-height: 24px;
    float: right;
    margin: 0;
    padding: 0;
    margin: 4px 1px 0 0;
    cursor: pointer;
    background: url(../images/social.png);
}
.Menu .hu_social .facebook{
    background-position: -96px 0px;
}
.Menu .hu_social .facebook:hover{
    background-position: -96px 24px;
}
.Menu .hu_social .twitter{
    background-position: -72px -0px;
}
.Menu .hu_social .twitter:hover{
    background-position: -72px -24px;
}

.altMenu{
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    z-index: 100;
    display: none;
}
.altMenu a{
    width: 100%;
    background-color: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
    padding: 5px;
}
.altMenu .menuitem{
    background-color: #43254b;
    background-color: rgba(0,0,0,0.8);
    color: #fff;   
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 160px;
    cursor: pointer;
    z-index: 100;
}
.altMenu .menuitem a.altLink{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 160px;
}
.altMenu .menuitem:hover{
    background-color: #864A97;
    background-color: rgba(134,74,151,0.9);
}

.Menu .menuUL .menuLI:hover  .altMenu{
    display: block;
}

/*----------------------------------------------------------------------------*/

.bannerMenu{
    position: absolute;
    float: right;
    background-color: transparent;
    bottom: 0px;
    right: 0px;
}
.bannerMenu .banMenu{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: blue;
    right: 0;
}
.bannerMenu .banMenu .banmenuitem{
    position: relative;
    float: right;
}
.bannerMenu .banMenu .banmenuitem:hover{
    background-color: #43254b;
    background-color: rgba(67,37,75,0.5);
}
.bannerMenu .banMenu .banmenuitem a.menuLink{
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    padding: 0 8px;
    border-right: 1px solid #583263;
    line-height: 26px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
a.kesMenu{
    border-right: none !important;
    border: none;
    border-color: transparent;
}
.bannerMenu .banMenu .banmenuitem a.menuLink:hover{
    background-color: #43254B;
    background-color: rgba(67,37,75,0.8);
    /*
        background-color: rgba(0,0,0,0.4);
        background-color: #43254B;
    */
}
.bannerMenu .banMenu .banmenuitem .bannerUL{
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 100;
}
.bannerMenu .banMenu .banmenuitem .bannerUL .bannerLi{
    background-color: #43254b;
    background-color: rgba(67,37,75,0.8);
    width: 160px;
    line-height: 24px;
    padding: 5px;
}
.bannerMenu .banMenu .banmenuitem .bannerUL .bannerLi .altMenuLink{
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    line-height: 24px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.bannerMenu .banMenu .banmenuitem .bannerUL .bannerLi:hover{
    background-color: #925CA2;
    background-color: rgba(134,74,151,0.8);
}
.bannerMenu .banMenu .banmenuitem:hover .bannerUL{
    display: block;
}

div.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ECCCF9;
    background-color: rgba(88, 50, 99, 0.6);
    z-index: 200;
}
div.modal div.msgBox{
    position: relative;
    margin: 0 auto;
    width: 420px;
    background-color: #F3E0FC;
    top: 20%;
    min-height: 120px;
    z-index: 1; 
    border: 2px solid #925CA2;
    padding: 10px;
    box-shadow: 0 0 5px 6px #934fa8;
    -webkit-box-shadow: 0 0 5px 6px rgba(147, 79, 168, 0.7);
    -moz-box-shadow: 0 0 5px 6px rgba(147, 79, 168, 0.7);
    -o-box-shadow: 0 0 5px 6px rgba(147, 79, 168, 0.7);
    -ms-box-shadow: 0 0 5px 6px rgba(147, 79, 168, 0.7);
    box-shadow: 0 0 5px 6px rgba(147, 79, 168, 0.7);
    overflow: hidden;
    z-index: 201;
}
div.modal div.msgBox div.msgTitle{
    position: relative;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 14px;
    color: #43254B;
    background-color: #934fa8;
    color: #fff;
    line-height: 25px;
    height: 25px;
    padding-left: 10px;
    font-weight: bold;
}
div.modal div.msgBox div.msgTitle span.closeModal{
    position: absolute;
    right: 2px;
    background-color: #F3E0FC;
    font-size: 11px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: 2px solid #F3E0FC;
    line-height: 17px;
    top: 2px;
    color: #925CA2;
    cursor: pointer;
    font-weight: bold;
}
div.modal div.msgBox div.msgTitle span.closeModal a{
    text-decoration: none;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 0 3px;
    box-sizing: border-box;
}
div.modal div.msgBox div.msgTitle span.closeModal:hover{
    border-color: #fff;
    background-color: #c879e0;
    color: #fff;
}
div.modal div.msgBox div.msgTitle span.closeModal:active{
    background-color: #fff;
    color: #43254B;
}
div.modal div.msgBox div.msgBody{
    position: relative;
    background-color: red;
    min-height: 80px;
    padding: 10px;
    background-color: #ECCCF9;
    border: 1px solid #c879e0; 
    padding-bottom: 15px;
    margin-bottom: 5px;
}
div.modal div.msgBox div.msgBody span.msgContent{
    color: #43254B;
    font-size: 13px;
}
div.modal div.msgBox a.modalButton{
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
div.modal div.msgBox a.modalButton:link{
    position: absolute;
    text-decoration: none;
    display: inline-block;
    background-color: #934fa8;
    color: #fff;
    padding: 5px;
    width: 120px;
    text-align: center;
    bottom: -13px;
    border: 1px #934fa8 solid;
    line-height: 14px;
    height: 14px;
}
div.modal div.msgBox a.modalButton.left{
    left: 45px;
}
div.modal div.msgBox a.modalButton.right{
    right: 45px;
}
div.modal div.msgBox a.modalButton.center{
    left: 50%;
    margin-left: -65px;
}
div.modal div.msgBox a.modalButton:hover{
    background-color: #ECCCF9;
    color: #43254B;
}
div.modal div.msgBox a.modalButton:active{
    background-color: #F3E0FC;
    color: #000;
    border-color: #000;
}

/*  SlideShow   */
.slideshow{
    position: relative;
    width: 900px;
    height: 295px;
    background-color: #F3E0FF;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    padding: 10px 0;
}
.slideshow .slideButtonWrp{
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: transparent;
    margin-bottom: 3px;
    font-size: 13px;
}
.slideshow .slides{
    position: relative;
    width: 99999999px;      
}
.slideshow .slides .slide{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: left;
    padding: 0 10px;
    width: 880px;
    height: 275px;
/*
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
*/
}
.slideshow .slides .slide img{
    width: 100%;
    height: 100%;
}
.slideshow .slideButtonWrp a{
    color: #864A97;
    text-decoration: none;
    border: #934fa8 1px solid;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    min-width: 15px;
    text-align: center;
    line-height: 13px;
    padding: 3px;
    background-color: #fff;
}
.slideshow .slideButtonWrp a:hover{
    background-color: #c879e0;
}
.sclicked{
    background-color: #c879e0 !important;
    color: #fff !important;
}
.slaytItem{
    width: 900px;
    height: 275px;
    overflow: hidden;
    border: #43254B 1px solid;
    margin-bottom: 5px;
    cursor: move;
}
.slaytItem img{
    width: 100%;
    height: 100%;
}

.yontabmenu{
    position: relative;
    width: 500px;
    
    font-size: 16px;
    color: #43254B;
}
.yontabmenu .tab{
    float: left;
    background-color: #925CA2;
    padding: 10px;
    margin: 4px 4px 4px 0;
    color: #fff;
    cursor: pointer;
    border: transparent 2px solid;
}
.yontabmenu .tab:hover{
    background-color: #c879e0;
    color: #fff;
    border: #864A97 2px solid;
}
.yontabmenu .tab.selectedtab{
    background-color: #c879e0;
    border-color: transparent;
}