html{font-family: Arial, Helvetica, sans-serif;}
body{
    position: relative;
    background: url(../images/bg_grad.png) no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clr{
    position: relative;margin: 0;padding: 0;clear: both;
}

.banner{
    position: relative;
    background-color: transparent;
    width: 940px;
    height: 80px;
    margin: 0 auto;
    padding: 0;
    top: 30px;
}
.banner .hupng{
    position: relative;
    background: url(../images/hu_.png) no-repeat left center;
    width: 230px;
    height: 80px;
    float: left;
}

/* ------- General Styles ------- */

.kapsul{
    position: relative;
    margin: 0 auto;
    padding: 14px;
    width: 900px;
    top: 30px;
    background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.h1Tag {
    color:#661d7c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
}
.h2Tag {
    color:#661d7c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.cetvel{
    width: 500px;
    top: 0;
    margin: 0 400px 5px 0;
    padding: 0;
    color: #864A97;
}
.uyelikLabel{
    position: relative;
    display: inline-block;
    line-height: 25px;
    color:#661d7c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 280px;
}
.inputText{
    position: relative;
    display: inline-block;
    line-height: 24px;
    color:#661d7c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 350px;
    margin: 5px;
}
.selecting{
    position: relative;
    display: inline-block;
    line-height: 30px;
    width: 112px;
    color:#661d7c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-left: 5px;
}
.fileInput{
    position: relative;
    display: none;
}
.fileInputLabel{
    position: relative;
    display: inline-block;
    line-height: 27px;
    color:#661d7c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 625px;
    background-color: #864A97;
    background-color: rgba(134,74,151,0.6);
    margin: 7px 0;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
.fileInputLabel:hover{
    background-color: #925CA2;
    background-color: rgba(134,74,151,0.3); 
}
.fileInputLabel .inputLabelDashed{
    position: absolute;
    width: 629px;
    height: 36px;
    left: 6px;
    top: 4px;
    background-color: transparent;
    border: 2px dashed #661d7c;
}
.textareaLabel{
    position: relative;
    display: inline-block;
    line-height: 30px;
    color:#661d7c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 280px;
    vertical-align: top;
}
#hakkinda, #arizaBilgisi, #duyuruMetni, #odaDegisimTxt{
    position: relative;
    display: inline-block;
    color:#661d7c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 355px;
    height: 100px;
    margin-bottom: 5px;
}
#odaDegisimTxt, #dilekceMetni{
    width: 620px;
    height: 240px;
    font-size: 13px;
    padding: 10px;
    color: #000;
}
#dilekceMetni{
    height: 330px;
    resize: none;
    margin-bottom: 10px;
}
/*
.mce-tinymce{
    width: 640px !important;
    margin-bottom: 6px !important;
}*/
#arizaBilgisi{
    height: 120px;
}
/*  ------------------------ BUTTON ------------------------ */
.button{
  background: #c47ed9;
  background-image: -webkit-linear-gradient(top, #c47ed9, #934fa8);
  background-image: -moz-linear-gradient(top, #c47ed9, #934fa8);
  background-image: -ms-linear-gradient(top, #c47ed9, #934fa8);
  background-image: -o-linear-gradient(top, #c47ed9, #934fa8);
  background-image: linear-gradient(to bottom, #c47ed9, #934fa8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #c38ad4;
  -webkit-box-shadow: 0px 1px 3px #c879e0;
  -moz-box-shadow: 0px 1px 3px #c879e0;
  box-shadow: 0px 1px 3px #c879e0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  padding: 6px;
  border: solid #e4aef5 2px;
  text-decoration: none;
  cursor: pointer;
  width: 645px;
}

.button:hover {
  background: #d9ace6;
  background-image: -webkit-linear-gradient(top, #d9ace6, #864A97);
  background-image: -moz-linear-gradient(top, #d9ace6, #864A97);
  background-image: -ms-linear-gradient(top, #d9ace6, #864A97);
  background-image: -o-linear-gradient(top, #d9ace6, #864A97);
  background-image: linear-gradient(to bottom, #d9ace6, #864A97);
  text-decoration: none;
}
/*  ------------------------ BUTTON ------------------------ */

a.linkStyle{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #661d7c;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    *display: inline;
    *zoom:1;
    padding: 5px;
    margin-left: 520px;
}
a.linkStyle:hover{
    color: #c38ad4;
}

.fotoKapsul{
    position: relative;
    width: 220px;
    height: 260px;
    background-color: #e4aef5;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 15px;
}
.fotoKapsul:before{
    position: absolute;
    content:"Fotoğraf";
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 260px;
    width: 100%;
    float: left;
}
.fotoKapsul img.profilFoto{
    position: relative;
    width: 100%;
    height: 100%;
}

.formKullaniciBilgileri label{
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 22px;
    height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color:#661d7c;
    font-size: 14px;
    width: 260px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.formKullaniciBilgileri input[type=text], .formKullaniciBilgileri input[type=email]{
    position: relative;
    width: 202px;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color:#661d7c;
    font-size: 12px;
    left: 0;
    padding-left: 8px;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.formKullaniciBilgileri select{
    position: relative;
    width: 69px;
    line-height: 24px;
    height: 26px;
    padding-left: 8px;
}
.button.guncelle{
    width: 480px;
    font-size: 15px;
    padding: 8px;
    margin: 0;
}
.button[disabled=disabled]{
    background: #e4aef5;
}

.bildirimDiv{
    position: relative;
    min-width: 232px;
    height: 40px;
    background-color: #e4aef5;
    line-height: 40px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    float: left;
    font-weight: bold;
    margin: 5px 10px 8px 0;
    cursor: pointer;
    padding: 0 20px;
}
.bildirimDiv.olumlu{
    background: rgb(176,230,14);
    background: -moz-linear-gradient(top, rgb(176,230,14) 0%, rgb(90,135,47) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(176,230,14)), color-stop(100%, rgb(90,135,47)));
    background: -webkit-linear-gradient(top, rgb(176,230,14) 0%, rgb(90,135,47) 100%);
    background: -o-linear-gradient(top, rgb(176,230,14) 0%, rgb(90,135,47) 100%);
    background: -ms-linear-gradient(top, rgb(176,230,14) 0%, rgb(90,135,47) 100%);
    background: linear-gradient(to bottom, rgb(176,230,14) 0%, rgb(90,135,47) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0e60e', endColorstr='#5a872f', GradientType=0 );
}
.bildirimDiv.olumsuz{
    background: rgb(255,111,89);
    background: -moz-linear-gradient(top, rgb(255,111,89) 0%, rgb(204,43,29) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(255,111,89)), color-stop(100%, rgb(204,43,29)));
    background: -webkit-linear-gradient(top, rgb(255,111,89) 0%, rgb(204,43,29) 100%);
    background: -o-linear-gradient(top, rgb(255,111,89) 0%, rgb(204,43,29) 100%);
    background: -ms-linear-gradient(top, rgb(255,111,89) 0%, rgb(204,43,29) 100%);
    background: linear-gradient(to bottom, rgb(255,111,89) 0%, rgb(204,43,29) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6f59', endColorstr='#cc2b1d', GradientType=0 );
}
.bildirimDiv.uyari{
   background: rgb(252,176,83);
    background: -moz-linear-gradient(top, rgb(252,176,83) 0%, rgb(255,140,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(252,176,83)), color-stop(100%, rgb(255,140,0)));
    background: -webkit-linear-gradient(top, rgb(252,176,83) 0%, rgb(255,140,0) 100%);
    background: -o-linear-gradient(top, rgb(252,176,83) 0%, rgb(255,140,0) 100%);
    background: -ms-linear-gradient(top, rgb(252,176,83) 0%, rgb(255,140,0) 100%);
    background: linear-gradient(to bottom, rgb(252,176,83) 0%, rgb(255,140,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb053', endColorstr='#ff8c00', GradientType=0 );
}
.bildirimDiv.olumlu:hover{
    background: forestgreen;
}
.bildirimDiv.olumsuz:hover{
    background: red;
}
.bildirimDiv.uyari:hover{
    background: darkorange;
}
select.selectBox{
    position: relative;
    margin: 0;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color:#661d7c;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    width: 360px;
    margin-bottom: 5px;
}

span.duyuru{
    position: relative;
    display: inline-block;
    *display:inline;
    *zoom:1;
    width: 100%;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #661d7c;
    font-size: 16px;
    height: 24px;
}
span.duyuru:before{
    position: relative;
    content:"";
    width: 24px;
    height: 24px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: url(../images/icons/tag_red.png) no-repeat;
    vertical-align: top;
}
span.duyuru.normal:before{
    background: url(../images/icons/tag_blue.png) no-repeat;
}
span.duyuru.bilgi:before{
    background: url(../images/icons/tag_green.png) no-repeat;
}
span.duyuru.soru:before{
    background: url(../images/icons/tag_orange.png) no-repeat;
}
span.duyuru span.duyuruTarihi{
    position: relative;
    font-size: 8px;
    margin-left: 15px;
    font-style: italic;
    color: #864A97;

}



.dilekceKapsul{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color:#661d7c;
    font-size: 15px;
    border: 2px solid #864A97;
    padding: 8px;
    width: 100%;
    height: 96px;
    margin-bottom: 4px;
    cursor: pointer;
}
.dilekceKapsul:hover{
    background-color: #ECCCF9;
}
.dilekceKapsul .ogrFoto{
    width: 96px;
    height: 96px;
    float: left;
    margin-right: 20px;
}
.dilekceKapsul .ogrFoto img{
    width: 100%;
    height: 100%;
}
.dilekceKapsul .ogrenciBilgileri{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}
.dilekceKapsul .ogrenciBilgileri .ogrLbl{
    position: relative;
    width: 200px;
    display: inline-block;
    *display: inline;
    *zoom:1;
    font-weight: bold;
    line-height: 19px;
    border-bottom: 1px solid #e4aef5;
}
.dilekceKapsul .ogrenciBilgileri .ogrBilgi{
    line-height: 19px;
}
.dilekceKapsul .ogrenciBilgileri .ogrBilgi:before{
    content: ":";
    margin-right: 10px;
}
.dilekceKapsul .dilekceOkuBtn{
    position: absolute;
    right: 10px;
    width: 160px !important;
    bottom: 10px;
    text-align: center;   
}
div.dilekceOkumaSayfasi{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #e4aef5;
    background-color: rgba(228, 174, 245, 0.7);
    top:0;
    left:0;
    box-sizing: border-box;
    overflow: auto;
    /*display: none;*/
}
div.dilekceOkumaSayfasi div.a4Sayfa{
    position: relative;
    width: 595px;
    height: 841px;
    background-color: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 16px;
}
div.dilekceOkumaSayfasi div.a4Sayfa div.dilekceKapat{
    position: absolute;
    right: -31px;
    top: 0;
    background-color: #864A97;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
div.dilekceOkumaSayfasi div.a4Sayfa div.dilekceKapat:hover{
    background-color: #e4aef5;
}
div.dilekceOkumaSayfasi div.a4Sayfa div.dilekceCevapla{
    position: absolute;
    width: 160px;
    text-align: center;
    right: 10px;
    bottom: -50px;
    margin-bottom: 60px;
}
div.arizaBildirimi{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color:#661d7c;
    font-size: 15px;
    border: 2px solid #864A97;
    padding: 8px;
    width: 100%;
    min-height: 96px;
    margin-bottom: 4px;
}
div.arizaBildirimi.redBorder{
    border-left: red 5px solid;
}
div.arizaBildirimi.orangeBorder{
    border-left: orange 5px solid;
}
div.arizaBildirimi.greenBorder{
    border-left: green 5px solid;
}
div.arizaBildirimi:hover{
    background-color: #ECCCF9;
}
div.arizaBildirimi .ogrFoto{
    width: 96px;
    height: 96px;
    float: left;
    margin-right: 20px;
}
div.arizaBildirimi .ogrFoto img{
    width: 100%;
    height: 100%;
}
div.arizaBildirimi .ogrenciBilgileri{
    position: relative;
    width: 40%;
    padding: 0;
    margin: 0;
    float: left;
}
div.arizaBildirimi .arizaicerigi{
    position: relative;
    float: left;
    width: 46%;
}
div.arizaBildirimi .ogrenciBilgileri .ogrLbl{
    position: relative;
    width: 200px;
    display: inline-block;
    *display: inline;
    *zoom:1;
    font-weight: bold;
    line-height: 19px;
    border-bottom: 1px solid #e4aef5;
}
div.arizaBildirimi .ogrenciBilgileri .ogrBilgi{
    line-height: 19px;
}
div.arizaBildirimi .ogrenciBilgileri .ogrBilgi:before{
    content: ":";
    margin-right: 10px;
}

div.arizaBildirimi .arizaicerigi span.arizaKategorisi{
    position: relative;
}

div.arizaBildirimi span.kapatSil, .dilekceKapsul span.kapatSil, div.arizaBildirimi span.gorevliYolla,div.arizaBildirimi span.arizaSil{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    background-color: #864A97;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: none;
    font-weight: bold;
    font-size: 15px;
}
div.arizaBildirimi span.kapatSil a, .dilekceKapsul span.kapatSil a, div.arizaBildirimi span.gorevliYolla a,div.arizaBildirimi span.arizaSil a{
    color: #fff;
    text-decoration: none;
}
div.arizaBildirimi:hover span.kapatSil, .dilekceKapsul:hover span.kapatSil, div.arizaBildirimi:hover span.gorevliYolla,div.arizaBildirimi:hover span.arizaSil{
    display: block;
}
div.arizaBildirimi span.kapatSil:hover, .dilekceKapsul span.kapatSil:hover, div.arizaBildirimi span.gorevliYolla:hover,div.arizaBildirimi span.arizaSil:hover{
    background-color: #c879e0;
}
div.arizaBildirimi span.gorevliYolla,div.arizaBildirimi span.arizaSil{
    background: url(../images/repair.png) no-repeat center center;
    right: 23px;
    border: #925CA2 solid 1px;
    width: 18px;
    height: 18px;
}
div.arizaBildirimi span.gorevliYolla a:before,div.arizaBildirimi span.arizaSil a:before{
    content: "";
    display: inline-block;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
div.arizaBildirimi span.arizaSil{
    background: url(../images/check.png) no-repeat center center;
}
table.camasirTablosu{
    text-shadow: 1px 1px 0px #fff;
    background: #ECCCF9;
    margin: 20px;
    border: #c38ad4 2px solid;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #661d7c;
    margin: 6px 0 0 0;
}
table.camasirTablosu th {
    padding: 10px;
    border: #c38ad4 1px solid;
    color: #661d7c;
    text-align: center;
    background-color: #e4aef5;
}
table.camasirTablosu thead{
    background-color: #e4aef5;
}
table.camasirTablosu tbody{
    background-color: #ECCCF9;
}
table.camasirTablosu td{
    padding: 10px;
    border: #d9ace6 1px solid;
    background-color: #ECCCF9;
    cursor: pointer;
    text-align: center;
    position: relative;
}
table.camasirTablosu td.musait:hover{
    background-color: #F3E0FC;
    border-color: #864A97;
}
table.camasirTablosu td.rezerve{
    background-color: #F3E0FC;
    cursor: default;
    color: #c47ed9;
}
table.camasirTablosu td.rezerve.boldd{
    color: #661d7c;
}
table.camasirTablosu td.rezerve.boldd span.tooltip{
    text-align: left;
}
table.camasirTablosu td.rezerve:hover{
    border-color: #c879e0;
}
span#listeGunu{
    margin-left: 20px;
    font-weight: bold;
    color: #934fa8
}
span#listeGunu:before{
    content: "-";
    margin-right: 20px;
}
.inputText.timepick{
    width: 595px;
    margin: 0 0 7px 0;
    text-align: right;
    padding-right: 20px;
    font-size: 16px;
}
table.camasirTablosu td.rezerve span.tooltip{
    display: none;
    position: absolute;
    left: 0;
    top: 44px;
    min-width: 230px;
    min-height: 24px;
    background-color: #661d7c;
    z-index: 100;
    color: #ECCCF9;
    font-size: 12px;
    line-height: 24px;
    border-radius: 5px;
    text-shadow: none;
    margin-left: 60px;
    text-align: center;
    padding: 5px;
}
table.camasirTablosu td.rezerve span.tooltip:before{
    position: absolute;
    content: "";
    left: 10px;
    top: -14px;
    margin: 0;padding: 0;
    widows: 0;height: 0;
    border: 8px solid transparent;
    border-bottom: 8px solid #661d7c;
}
table.camasirTablosu td.rezerve:hover span.tooltip{
    display: block;
}
.displaynon{display: none}
.camasirbuton{width: 330px; margin-left: 5px;}
.camasirblok{
    margin-left: -4px;
    width: 280px;
    padding-left: 30px;
    height: 32px;
}
input[type=radio]{
    display: none;
}
label.cinsiyetLabel{
    background-color: #F3E0FC;
    color: #661d7c;
    display: inline-block;
    height: 30px;
    width: 170px;
    text-align: center;
    line-height: 30px;
    margin: 6px 6px 0px 5px;
    border: 1px solid #934fa8;
    cursor: pointer;
}
input[type=radio]:checked + label.cinsiyetLabel{
    background-color: #661d7c;
    color: #fff;
}
label.cinsiyetLabel:hover{
    background-color: #c47ed9;
    color: #fff;
}
span.bildirimKapat{
    position: absolute;
    top: 2px;
    right: 2px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 10px;
    height: 10px;
    font-size: 10px;
    display: none;
    padding: 2px 3px;
    border-radius: 3px;
    text-align: center;
}
span.bildirimKapat a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100%;
    height: 100%;
}
.bildirimDiv:hover span.bildirimKapat{display: block}
.bildirimDiv.olumlu span.bildirimKapat{
    background-color: #1dc116;
    border: #008000 1px solid;
}
.bildirimDiv.olumsuz span.bildirimKapat{
    background-color: #FF5E5E;
    border: #d01d33 1px solid;
}
.bildirimDiv.uyari span.bildirimKapat{
    background-color: #FC3;
    border: #F90 1px solid;
}

div.ajaxLoader{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(134,74,151,0.33);
    left: 0;
    top: 0;
    text-align: center;
}
div.ajaxLoader.load{
    display: block;
}
div.ajaxLoader img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
}